Checks: '-*,
bugprone-*,
clang-analyzer-*,
concurrency-*,
cppcoreguidelines-*,
google-*,
misc-*,
modernize-*,
performance-*,
portability-*,
readability-*'
FormatStyle: file
CheckOptions:
  concurrency-mt-unsafe.FunctionSet: posix
  # See https://google.github.io/styleguide/cppguide.html
  readability-identifier-naming.ConstantCase: CamelCase
  readability-identifier-naming.ConstantPrefix: k
  readability-identifier-naming.ConstantMemberCase: CamelCase
  readability-identifier-naming.ConstantMemberPrefix: k
  readability-identifier-naming.ConstantParameterCase: lower_case
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: CamelCase
  readability-identifier-naming.EnumConstantPrefix: k
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.ParameterCase: lower_case
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.VariableCase: lower_case
